/* Turning Metadata off for the moment */
div#metadata { display: none; } 

/* Container */
#textBody { 
	width: 500px; 
	margin: 0 auto; 
}

p.song { 
	margin-left: 30%; 
} 

p.dialog { 
	color: red; 
} 

span.emph { 
	font-style: italic; 
} 
